# Catppuccin i3 theme fragment
set_from_resource $bg-color background #181824
set_from_resource $inactive-bg-color background #181825
set_from_resource $text-color foreground #cdd6f4
set_from_resource $inactive-text-color foreground #a6adc8
set_from_resource $urgent-bg-color background #f38ba8
set_from_resource $border-color border #89b4fa
set_from_resource $active-border-color border #cdd6f4
